<% include ../../partials/header.ejs %>
<div class="container">
<div class="col-md-10 ">
    <section>
        <div class="thumbnail">
        <h1><%=blogpost.titel%></h1>
        <img class="img-responsive" src="<%=blogpost.url%>"/>
        <p><%=blogpost.description%></p>
         </div>
    </section>
</div>
</div>


<% include ../../partials/footer.ejs %>